<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afmeerstudies</title>
</head>
<body>
    <label>Case Data (*.xlsx)</label>
    <input type="file" id="metadata-input" />
    <label>Forces Data (*.csv)</label>
    <input type="file" id="forces-input" />
    <label>Ship coordinates (*.csv)</label>
    <input type="file" id="coords-input" />
    <button type="button" id="submit">Submit</button>
    <canvas id="simulation-canvas" width="800" height="600"></canvas>
</body>
</html>