body{
    background-image: url('../assets/images/background_home.svg');
    background-repeat: no-repeat;
}
.container-home{
    margin: 20px;
    .row-card-container{
        display: flex;
        justify-content: space-between;
    }
    .card{
        margin: 10vh 5vw;
        img{
            width: 15vw;
            padding: 7.5vh 2.5vw;
            background-color: #E0F3FD;
            box-shadow: 1.5px 2.5px 5px 0px rgba(0,0,0,0.75);
        }
        h3{
            color: black;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 400;
        }
        p{
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            color: #FF664F;
            font-weight: 400;
            font-size: 10px;
        }
    }
}

