/*
 * Body + Canvas styles
 */
canvas {
    padding: 0;
    margin: auto;
    display: block;
    // width: 80vw;
    box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
    margin-top: 20px;
    // DEZE WEG HALEN ALS ER NOG DINGEN ONDER KOMEN !!!!
    margin-bottom: 50px;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/images/background_img.svg');
    background-repeat: no-repeat;
    
}

.top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    .top-left {
        a{
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            color: #FF664F;
            font-weight: 400;
            font-size: 20px;
        }
        h3{
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 50px;
        }
        p{
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            color: #FF664F;
            font-weight: 400;
            font-size: 16px;
        }
    }
    .top-right {
        display: flex;
        .btn-delete button{
            border: 1px solid black;
            background-color: black;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            border-radius: 10px;
            padding: 10px 20px;
            margin: 0 10px;
            margin-left: 20px;
        }
        .btn-upload button{
            border: 1px solid black;
            background-color: black;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            border-radius: 10px;
            padding: 10px 20px;
            margin: 0 10px;
        }
        .btn-load button{
            border: 1px solid black;
            color: black;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            border-radius: 10px;
            padding: 10px 20px;
        }
        button:hover {
            cursor: pointer;
        }
    }
}

/*
 * Input styles
 */

label{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}

.input-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items:center;
    background-color: rgba(0,0,0,0.75);

    .input-container__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        position: relative;        
        padding: 80px 100px;
        background-color: white;

        .input-container__inner-close {
            position: absolute;
            top: 10px;
            right: 20px;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            color: #FF664F;
        }
        .input-container__inner-close:hover {
            cursor: pointer;
        }

        div{
            margin-bottom: 10px;
        }
        button{
            border: none;
            background-color: black;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            border-radius: 10px;
            padding: 10px 20px;
        }
        input[type="file"] {
            display: none;
        }

        .custom-upload{
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            position: relative;
            transition: color 0.5s;
            min-width:200px; 

            > div {
                margin: 0;
            }

            p {
                text-align: center;
                position: relative;
                z-index: 1;
            }

            > span {
                width: 0;
                height: 100%;
                background-color: black;
                position: absolute;
                top:0;
                left:0;
                transition: all 0.5s ease-out;
            }
        }
    }

    .custom-button--uploaded {
        color: white;
    }
    
    .btn-submit{
        button{
            width: 200px;
        }  
    }
}

.video-control-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 50px;

    .video-control {

        flex-grow: 0;
        display: flex;
        align-items: center;
        div {
            border-radius: 50%;
            padding: 10px;
            height: 40px;
            width: 40px;
            
            img {
                cursor: pointer;
            }
        }

        #play-pause-container {
            height: 40px;
            width: 40px;
        }
        #previous-container, #next-container {
            height: 20px;
            width: 20px;
        }
    }

    .timeline-hans {
        padding: 5px;
        height: 5px;
        width: 500px;
        cursor: pointer;
        .timeline {
            flex-grow: 0;
            width: 100%;
            height: 100%;
            background-color: #d1d1d1;
            #timeline-progress {
                background-color: #FF664F;
                height: 100%;
            }
            #timeline-progress::after {
                content: "";
                border-radius: 50%;
                height: 20px;
                width: 20px;
                background-color: #FF664F;
            }
        }
    }

    #screenshot {
        padding: 15px;
        height: 40px;
        width: 40px;
        
        cursor: pointer;
    }

    .info {
        text-align: center;
        flex-grow: 1;
        width: 100%;
    }
}

.sub-timelines {
    .sub-timeline-container {
        height: 100%;
        display: flex;
        margin: 0 auto 40px;
        width: 100vw;
        .sub-timeline-container-total {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            .sub-timeline {
                width: 1000px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 40px;
                .sub-timeline-title-container {
                    .sub-timeline-title {
                        width: 100px;
                        p {
                            font-size: 14px;
                            font-family: "Roboto", sans-serif;
                            text-align: right;
                            text-transform: uppercase;
                        }
                    }
                    .sub-timeline-titles {
                        &-hawsers,
                        &-fenders {
                            display: none;
                            margin-top: 40px;
                            &.visible {
                                display: block;
                            }
                            p {
                                margin: 10px 0;
                            }
                        }
                    }
                }
                .sub-timeline-timeline-container {
                    justify-content: space-between;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    margin: 0px 40px;
                    #timeline-progress-hawsers,
                    #timeline-progress-fenders {
                        background-color: #ff664f;
                        height: calc(100% + 20px);
                        width: 2px;
                        position: absolute;
                        left: 0;
                        top: -10px;
                        z-index: 1;
                    }
                    .sub-timeline-container-content {
                        height: 5px;
                        margin: 10px 0;
                        width: 800px;
                        .timeline {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            background-color: #d1d1d1;
                            .point {
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                border-radius: 15px;
                                border: 1px solid black;
                                width: 20px;
                                height: 20px;
                                background: #ff664f;
                                margin-left: -10px;
                                top: -10px;
                                z-index: 2;
                                &.top {
                                    top: -28px;
                                    .line {
                                        width: 1px;
                                        height: 12px;
                                        background-color: black;
                                        margin-top: 20px;
                                    }
                                }
                                &.bottom {
                                    top: 12px;
                                    .line {
                                        width: 1px;
                                        height: 12px;
                                        background-color: black;
                                        margin-top: -13px;
                                    }
                                }
                            }
                        }
                        &-hawsers,
                        &-fenders {
                            display: none;
                            .sub-timeline-container-content {
                                margin: 20px 0px;
                                &:first-of-type {
                                    margin-top: 40px;
                                }
                                .timeline {
                                    .hawserbreak-btn,
                                    .fenderbreak-btn {
                                        .point {
                                            background-color: lightgrey;
                                            position: absolute;
                                            display: flex;
                                            justify-content: center;
                                            border: 1px solid #ff664f;
                                            border-radius: 15px;
                                            width: 10px;
                                            height: 10px;
                                            margin-left: -5px;
                                            margin-bottom: -10px;
                                            z-index: 3;
                                            top: -4px;
                                        }
                                    }
                                    .point-danger {
                                        background-color: #f7cb40;
                                        position: absolute;
                                        border: none;
                                        border-radius: 0;
                                        width: 1px;
                                        height: 100%;
                                        z-index: 2;
                                    }
                                }
                            }
                            &.visible {
                                display: block;
                            }
                        }
                    }
                }
                .sub-timeline-icon-container {
                    .sub-timeline-icon {
                        .chevron-icon {
                            height: 20px;
                            width: 20px;
                            margin: 0px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

/*
 * Control styles
 */

.controls-container{

    label{
        margin-right: 10px;
    }

}

.input-control-container{
    display: flex;
    justify-content: space-between;
    margin: 0 10vw 0 10vw;
}

.upload-container{

    display: flex;
    justify-content: space-between;
    margin: 5vh 10vw 0 10vw;

    .btn-submit{
        button{
            width: 200px;
            border: none;
            background-color: black;
            color: white;
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            border-radius: 10px;
            padding: 10px 20px;

        }  
    }

    .upload-fields{
        div{
            margin-top: 15px;
            input{
                width: 496px;
                font-family: 'Roboto', sans-serif;
            }
            textarea{
                width: 496px;
                font-family: 'Roboto', sans-serif;
            }
        }
    }

}

.simulation-description-container{
    margin: 5vh 10vw;
    h3{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #FF664F;
        font-weight: 400;
        font-size: 20px;
    }
    p{
        margin-top: 10px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: black;
        font-weight: normal;
        font-size: 16px; 
        width: 60vw;
    }
}

