/*
 * Body + Canvas styles
 */
canvas {
    padding: 0;
    margin: auto;
    display: block;
    // width: 80vw;
    box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
    margin-top: 20px;
    // DEZE WEG HALEN ALS ER NOG DINGEN ONDER KOMEN !!!!
    margin-bottom: 50px;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/images/background_img.svg');
    background-repeat: no-repeat;
}

.top-container{
    margin-left: 20px;
    a{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #FF664F;
        font-weight: 400;
        font-size: 20px;
    }
    h3{
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 50px;
    }
    p{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #FF664F;
        font-weight: 400;
        font-size: 16px;
    }
}

/*
 * Input styles
 */

label{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}

.input-container{
    div{
        margin-bottom: 10px;
    }
    button{
        border: none;
        background-color: black;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        border-radius: 10px;
        padding: 10px 20px;
    }
    input[type="file"] {
        display: none;
    }

    .custom-upload{
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        position: relative;
        transition: color 0.5s;
        min-width:200px; 

        > div {
            margin: 0;
        }

        p {
            text-align: center;
        }

        > span {
            width: 0;
            height: 100%;
            background-color: black;
            position: absolute;
            top:0;
            left:0;
            z-index: -1;
            transition: all 0.5s ease-out;
        }
    }

    .custom-button--uploaded {
        color: white;
    }
    
    .btn-submit{
        button{
            width: 200px;
        }  
    }
}

.video-control-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 50px;

    .video-control {

        flex-grow: 0;
        display: flex;
        align-items: center;
        div {
            border-radius: 50%;
            padding: 10px;
            height: 40px;
            width: 40px;
            
            cursor: pointer;
        }
        #play-pause {
            height: 40px;
            width: 40px;
        }
        #previous, #next {
            height: 20px;
            width: 20px;
        }
    }

    .timeline-container {
        padding: 5px;
        height: 5px;
        width: 500px;
        cursor: pointer;
        .timeline {
            flex-grow: 0;
            width: 100%;
            height: 100%;
            background-color: #d1d1d1;
            #timeline-progress {
                background-color: #FF664F;
                height: 100%;
            }
            #timeline-progress::after {
                content: "";
                border-radius: 50%;
                height: 20px;
                width: 20px;
                background-color: #FF664F;
            }
        }
    }

    #screenshot {
        padding: 15px;
        height: 40px;
        width: 40px;
        
        cursor: pointer;
    }

    .info {
        text-align: center;
        flex-grow: 1;
        width: 100%;
    }
}

/*
 * Control styles
 */

.controls-container{

    label{
        margin-right: 10px;
    }
}

.input-control-container{
    display: flex;
    justify-content: space-around;
}