
<nav>
    <a id="logo"  href=""><img src="../../assets/images/vlugmoor.png" alt="Vlugmoor"></a>
</nav>
<div class="header-nav">
    <div class="upload">
        {{routerLink "simulation" "Upload nieuwe simulatie"}}
    </div>
    <div>
        <a href="#!/home"><img src="../../assets/images/square_logo.png"/></a>
        <a href="#!/simulation-list"><img src="../../assets/images/list_icon.png" /></a>
    </div>
</div>
