{{> Header }}

<div class="not-found-page">
    <div>
        <h3>
            Access denied
        </h3>
        <p>The page you're looking is offline.</p>
        <img src="../assets/images/shipHappens.jpg" alt='ship'>
    </div>
</div>

{{> footer }}