{{> header }}
<div class="container-home">
    <div class="upload">
        {{routerLink "simulation" "Upload nieuwe simulatie"}}
    </div>

    <div class="row-card-container">
        <div class="card">
            <img src="../assets/images/container_400x63.png" alt="container schip" />
            <h3>Voobeeld card</h3>
            <p>DATE: 21/3/2018</p>
        </div>

        <div class="card">
            <img src="../assets/images/container_400x63.png" alt="container schip" />
            <h3>Voobeeld card</h3>
            <p>DATE: 21/3/2018</p>
        </div>

        <div class="card">
            <img src="../assets/images/container_400x63.png" alt="container schip" />
            <h3>Voobeeld card</h3>
            <p>DATE: 21/3/2018</p>
        </div>
    </div>

        <div class="row-card-container">
        <div class="card">
            <img src="../assets/images/container_400x63.png" alt="container schip" />
            <h3>Voobeeld card</h3>
            <p>DATE: 21/3/2018</p>
        </div>

        <div class="card">
            <img src="../assets/images/container_400x63.png" alt="container schip" />
            <h3>Voobeeld card</h3>
            <p>DATE: 21/3/2018</p>
        </div>

        <div class="card">
            <img src="../assets/images/container_400x63.png" alt="container schip" />
            <h3>Voobeeld card</h3>
            <p>DATE: 21/3/2018</p>
        </div>
    </div>

        <div class="row-card-container">
        <div class="card">
            <img src="../assets/images/container_400x63.png" alt="container schip" />
            <h3>Voobeeld card</h3>
            <p>DATE: 21/3/2018</p>
        </div>

        <div class="card">
            <img src="../assets/images/container_400x63.png" alt="container schip" />
            <h3>Voobeeld card</h3>
            <p>DATE: 21/3/2018</p>
        </div>

        <div class="card">
            <img src="../assets/images/container_400x63.png" alt="container schip" />
            <h3>Voobeeld card</h3>
            <p>DATE: 21/3/2018</p>
        </div>
    </div>
</div>
{{> footer}}