{{> headerNav }}

<div class="list-content">
    <div class="list-item">
        <p class="list-date">23/06/2020</p>
        |
        <h3>Container ship - large</h3>
        |
        <p>WIND DIRECTION</p>
        |
        <p>
            crud
        </p>
    </div>
        <div class="list-item">
        <p class="list-date">23/06/2020</p>
        |
        <h3>Container ship - large</h3>
        |
        <p>WIND DIRECTION</p>
        |
        <p>
            crud
        </p>
    </div>
        <div class="list-item">
        <p class="list-date">23/06/2020</p>
        |
        <h3>Container ship - large</h3>
        |
        <p>WIND DIRECTION</p>
        |
        <p>
            crud
        </p>
    </div>
        <div class="list-item">
        <p class="list-date">23/06/2020</p>
        |
        <h3>Container ship - large</h3>
        |
        <p>WIND DIRECTION</p>
        |
        <p>
            crud
        </p>
    </div>
        <div class="list-item">
        <p class="list-date">23/06/2020</p>
        |
        <h3>Container ship - large</h3>
        |
        <p>WIND DIRECTION</p>
        |
        <p>
            crud
        </p>
    </div>
        <div class="list-item">
        <p class="list-date">23/06/2020</p>
        |
        <h3>Container ship - large</h3>
        |
        <p>WIND DIRECTION</p>
        |
        <p>
            crud
        </p>
    </div>
    
</div>

{{> footer }}