{{> header }}
<div class="top-container" >
    <a><p>{{routerLink "home" "terug"}}</p></a>
    <h3>Kind of ship - Size</h3>
    <p>Date: 21-11-2019</p>
</div>

<canvas id="simulation-canvas" width="800" height="600"></canvas> 
<div class="input-control-container">
    <div class="input-container">
        <div>
            <label>Case Data (*.xlsx)</label>
            <label class="custom-upload">
                Bestand kiezen
                <input type="file" id="metadata-input" />
            </label>
        </div>
        <div>
            <label>Forces Data (*.csv)</label>
            <label class="custom-upload">
                Bestand kiezen
                <input type="file" id="forces-input" />
            </label>
        </div>
        <div>
            <label>Ship coordinates (*.csv)</label>
            <label class="custom-upload">
                Bestand kiezen
                <input type="file" id="coords-input" />
            </label>
        </div>
        <div class="btn-submit">
            <button type="button" id="submit">Submit</button>
        </div>
    </div>

    <div class="controls-container">
        <label>Outline</label>
        <input type="checkbox">
    </div>
</div>

{{> footer }}