{{> header }}

{{!-- Button top --}}

<div class="top-container" >
    <div class="top-left">
        <a><p>{{routerLink "home" "terug"}}</p></a>
        <h3>Kind of ship - Size</h3>
        <p>Date: 21-11-2019</p>
    </div>

    <div class="top-right">
        <div class="btn-load">
            <button type="button" id="open-load">Simulatie Inladen</button>
        </div>
        <div class="btn-upload">
            <button type="button" id="open-upload">Upload to server</button>
        </div>
    </div>
</div>

{{!-- Load popup --}}

<div class="input-container" id="load-popup">
    <div class="input-container__inner">
        <div class="input-container__inner-close" id="close-load">Close</div>
        <div>
            <label class="spacer-90">Case Data (*.xlsx)</label>
            <label class="custom-upload">
                <span id="metadata-input-bg"></span>
                <p id="metadata-input-label">Bestand kiezen</p>
                <input type="file" id="metadata-input" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
            </label>
        </div>
        <div>
            <label class="spacer-75" >Forces Data (*.csv)</label>
            <label class="custom-upload">
                <span id="forces-input-bg"></span>
                <p id="forces-input-label">Bestand kiezen</p>
                <input accept=".csv" type="file" name='file' id="forces-input" />
            </label>
        </div>
        <div>
            <label class="spacer-20">Ship coordinates (*.csv)</label>
            <label class="custom-upload">
                <span id="coords-input-bg"></span>
                <p id="coords-input-label">Bestand kiezen</p>
                <input accept=".csv" type="file" id="coords-input" />
            </label>
        </div>
        <div className="upload-container--secondary">
            <label class="spacer-99">Wind Data (*.csv)</label>
            <label class="custom-upload">
                <span id="wind-input-bg"></span>
                <p id="wind-input-label">Bestand kiezen</p>
                <input accept=".csv" type="file" id="wind-input" />
            </label>
        </div>
        <div class="btn-submit">
            <button type="button" id="submit">Submit</button>
        </div>
    </div>
</div>

{{!-- Upload popup --}}

<div class="input-container" id="upload-popup">
    <div class='input-container__inner'>
        <div class="input-container__inner-close" id="close-upload">Close</div>
        <div class="upload-fields">
            <label for="title">Title:</label>
            <div>
                <input id='title-field' type="text">
            </div>
            <div>
                <label>Description:</label>
            </div>
            <div>
                <textarea id='description-field' rows="6" cols="60" type='text'></textarea>
            </div>
            <label for="title">Date:</label>
            <div>
                <input id="date-field" type="date">
            </div>
            <div class="btn-upload">
                <button type="button" id="upload">Upload to server</button>
            </div>
        </div>
    </div>
</div>

{{!-- Canvas --}}

<canvas id="simulation-canvas" width="1200" height="800"></canvas> 

{{!-- Timeline --}}

<div class="video-control-container">
    <div class="video-control">
        <div id="previous-container"><img id="previous" src="../assets/icons/forward-solid.svg" style="transform: scaleX(-1);" /></div>
        <div id="play-pause-container">
            <img id="play-btn" src="../assets/icons/play-solid.svg" isPlaying="" srcPlay="../assets/icons/play-solid.svg" srcPause="../assets/icons/pause-solid.svg"/>
            <img id="pause-btn" src="../assets/icons/pause-solid.svg" isPlaying="" srcPlay="../assets/icons/pause-solid.svg" srcPause="../assets/icons/pause-solid.svg" style="display: none;"/>
        </div>
        <div id="next-container"><img id="next" src="../assets/icons/forward-solid.svg" /></div>
    </div>
    <div class="timeline-hans" id="timeline-container">
        <div class="timeline" id="timeline"><div id="timeline-progress"></div></div>
    </div>
    <div id="screenshot">
        <img src="../assets/icons/camera.svg" />
    </div>
    <div class="info">
        <label class="fps">FPS: <span id="current-fps"></span> |</label> 
        <label>Time: <span id="current-time">0</span>s |</label>
        <label>Timepoint: <span id="current-timepoint">0</span></label>
    </div>
</div>

{{!-- Advanced timeline --}}
{{!-- <div class="sub-timelines" id="sub-timelines">
    <div class="sub-timeline-container">
        <div class="sub-timeline-container-total">
            <div class="sub-timeline">
                <div class="sub-timeline-title-container" id="sub-timeline-title-container-hawsers">
                    <div class="sub-timeline-title">
                        <p>Hawsers</p>
                    </div>
                    <div class="sub-timeline-titles-hawsers" id="sub-timeline-titles-hawsers">

                    </div>
                </div>
                <div class="sub-timeline-timeline-container">

                    <div class="timeline-progress" id="timeline-progress-hawsers"></div>
                    <div class="sub-timeline-container-content" id="timeline-container-hawsers">
                        <div id="timeline" class="timeline hawsers">
                            <div id="hawser-breakpoints"></div>
                        </div>
                    </div>
                    <div class="sub-timeline-container-content-hawsers" id="sub-timeline-container-content-hawsers">
                        <!-- Imported from JavaScript simulation.js --->
                    </div>
                </div>
                <div class="sub-timeline-icon-container">

                    <div class="sub-timeline-icon">
                        <img id="open-hawsers" class="chevron-icon"
                            src="../assets/icons/chevron-circle-down-solid.svg" />
                    </div>

                </div>
            </div>
            <div class="sub-timeline">
                <div class="sub-timeline-title-container" id="sub-timeline-title-container-fenders">
                    <div class="sub-timeline-title">
                        <p>Fenders</p>
                    </div>
                    <div class="sub-timeline-titles-fenders" id="sub-timeline-titles-fenders">

                    </div>
                </div>
                <div class="sub-timeline-timeline-container">

                    <div class="timeline-progress" id="timeline-progress-fenders"></div>

                    <div class="sub-timeline-container-content" id="timeline-container-fenders">
                        <div id="timeline" class="timeline fenders">
                            <div id="fender-breakpoints"></div>
                        </div>
                    </div>
                    <div class="sub-timeline-container-content-fenders" id="sub-timeline-container-content-fenders">
                        <!-- Imported from JavaScript simulation.js --->
                    </div>
                </div>
                <div class="sub-timeline-icon-container">

                    <div class="sub-timeline-icon">
                        <img id="open-fenders" class="chevron-icon"
                            src="../assets/icons/chevron-circle-down-solid.svg" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> --}}

{{!-- Controls --}}

<div class="input-control-container">
    <div class="controls-container">
        <div>
            <label title="Verplaats de simulatie naar een gekozen framenummer">Jump to timepoint:</label>
            <input type="number" id="timepoint-input" value="0" step="100" min="0">
        </div>
        <div>
            <label title="Verplaats de simulatie naar een gekozen tijdstip in seconden">Jump to time (s):</label>
            <input type="number" id="time-input" value="0" step="60" min="0">
        </div>
        <div>
            <label title="Pas de versnelling van de simulatie aan. Speed 1 komt overeen met de werkelijke tijd. ">Speed: <span id="current-speed"></span>x</label>
            <input type="number" id="speed-input" value="0" min="0">
        </div>
        <div>
            <label>Outline:</label>
            <input type="checkbox" id="switch-outline">
        </div>
        <div>
            <button type="button" id="reset-outline">Reset outline</button>
        </div>
    </div>
</div>


{{> footer }}

