{{> header }}
<div class="controls-container" >
    <a><p> < terug</p></a>
    <h3>Kind of ship - Size</h3>
    <p>Date: 21-11-2019</p>
</div>
<div id='canvas-container'>
<canvas id="simulation-canvas" width="800" height="600"></canvas> 
<label>Case Data (*.xlsx)</label>
<input type="file" id="metadata-input" />
<label>Forces Data (*.csv)</label>
<input type="file" id="forces-input" />
<label>Ship coordinates (*.csv)</label>
<input type="file" id="coords-input" />
<button type="button" id="submit">Submit</button>
<!-- Container om canvas in te steken -->
</div>