nav {
    display: flex;
    #logo{
        margin-top: 20px;
        margin-left: 44vw;
        img{
            width: 150px;
            height: auto; 
            align-self: center;
        }
    }
}

.logout-button {
    margin-left: 20px;
    border: 1px solid black;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;
}
