nav {
    display: flex;
    #logo{
        margin-top: 20px;
        margin-left: 44vw;
        img{
            width: 150px;
            height: auto; 
            align-self: center;
        }
    }
}
